name: run-pytest

on:
  pull_request:
  push:
    branches: [main]

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Sync dependencies
        run: uv sync --all-packages --all-extras

      - name: Run tests
        run: uv run pytest
